{
  "openapi": "3.0.0",
  "info": {
    "title": "Stax API",
    "version": "1.0.0",
    "description": "API for Stax automated document classifier and trust accounting system",
    "contact": {
      "name": "Stax.ai",
      "url": "https://stax.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.stax.ai",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "authToken",
        "description": "Cookie-based authentication using userId and authToken cookies"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Bearer token authentication requires two headers: 1) Authorization header with 'Bearer {apiKey}' format, and 2) email header with the user's email address for identification."
      },
      "moduleAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "module",
        "description": "Module authentication using module ID header and Bearer token"
      },
      "internalAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Internal key authentication for system-to-system communication"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "authError": {
            "type": "boolean",
            "description": "Indicates if this is an authentication error"
          }
        },
        "required": [
          "success",
          "error"
        ]
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "success"
        ]
      },
      "ObjectId": {
        "type": "string",
        "pattern": "^[0-9a-fA-F]{24}$",
        "description": "MongoDB ObjectId"
      },
      "User": {
        "type": "object",
        "properties": {
          "_id": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "memberships": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Membership"
            }
          },
          "team": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "isPending": {
            "type": "boolean"
          },
          "lastAccess": {
            "type": "string",
            "format": "date-time"
          },
          "enableDarkMode": {
            "type": "boolean"
          },
          "signature": {
            "type": "string"
          },
          "welcomed": {
            "type": "boolean"
          },
          "splash": {
            "type": "string"
          },
          "tips": {
            "$ref": "#/components/schemas/UserTips"
          },
          "ask": {
            "$ref": "#/components/schemas/AskConfig"
          },
          "notifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Notification"
            }
          },
          "lastLocalSync": {
            "type": "string",
            "format": "date-time"
          },
          "state": {
            "$ref": "#/components/schemas/UserState"
          },
          "intercomId": {
            "type": "string"
          }
        }
      },
      "Membership": {
        "type": "object",
        "properties": {
          "team": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "isAdmin": {
            "type": "boolean"
          },
          "isSuspended": {
            "type": "boolean"
          },
          "notifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Notification"
            }
          },
          "notifyByEmail": {
            "type": "boolean"
          },
          "sendDailySummaryByEmail": {
            "type": "boolean"
          },
          "pushNotifications": {
            "type": "boolean"
          },
          "keys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "API keys for this membership"
          }
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserTips": {
        "type": "object",
        "properties": {
          "stack": {
            "type": "boolean"
          },
          "document": {
            "type": "boolean"
          },
          "email": {
            "type": "boolean"
          },
          "unclassified": {
            "type": "boolean"
          }
        }
      },
      "AskConfig": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string"
          }
        }
      },
      "UserState": {
        "type": "object",
        "properties": {
          "planYear": {
            "type": "number"
          }
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "_id": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "subdomain": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "owner": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "billing": {
            "$ref": "#/components/schemas/Billing"
          },
          "email": {
            "$ref": "#/components/schemas/EmailConfig"
          },
          "fax": {
            "$ref": "#/components/schemas/FaxConfig"
          },
          "sync": {
            "$ref": "#/components/schemas/SyncConfig"
          },
          "ta": {
            "$ref": "#/components/schemas/TrustAccounting"
          },
          "numPagesStored": {
            "type": "number"
          },
          "numPagesArchived": {
            "type": "number"
          },
          "numStacks": {
            "type": "number"
          },
          "savings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Savings"
            }
          },
          "totalPagesProcessed": {
            "type": "number"
          },
          "totalSecondsSaved": {
            "type": "number"
          },
          "autoArchive": {
            "type": "number"
          },
          "autoReview": {
            "type": "boolean"
          },
          "quickAccess": {
            "$ref": "#/components/schemas/QuickAccess"
          },
          "documentRetention": {
            "type": "number"
          },
          "security": {
            "$ref": "#/components/schemas/Security"
          },
          "developer": {
            "type": "boolean"
          },
          "integrations": {
            "$ref": "#/components/schemas/Integrations"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "source": {
            "type": "string"
          },
          "deal": {
            "type": "number"
          },
          "remote": {
            "type": "boolean"
          }
        }
      },
      "Billing": {
        "type": "object",
        "properties": {
          "customerID": {
            "type": "string"
          },
          "plan": {
            "$ref": "#/components/schemas/Plan"
          },
          "usage": {
            "type": "number"
          },
          "scripts": {
            "type": "number"
          },
          "activated": {
            "type": "boolean"
          },
          "reported": {
            "type": "number"
          },
          "method": {
            "type": "string"
          }
        }
      },
      "Plan": {
        "type": "object",
        "properties": {
          "tier": {
            "type": "string",
            "enum": [
              "Personal",
              "Professional",
              "Enterprise"
            ]
          },
          "stripe": {
            "$ref": "#/components/schemas/StripeConfig"
          },
          "limits": {
            "$ref": "#/components/schemas/PlanLimits"
          }
        }
      },
      "StripeConfig": {
        "type": "object",
        "properties": {
          "plan": {
            "type": "string"
          },
          "subscription": {
            "type": "string"
          }
        }
      },
      "PlanLimits": {
        "type": "object",
        "properties": {
          "maxUsage": {
            "type": "number"
          },
          "maxUsers": {
            "type": "number"
          },
          "maxStorage": {
            "type": "number"
          }
        }
      },
      "EmailConfig": {
        "type": "object",
        "properties": {
          "enableInbound": {
            "type": "boolean"
          },
          "enableOutbound": {
            "type": "boolean"
          },
          "settings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailSetting"
            }
          },
          "lastChecked": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EmailSetting": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "port": {
            "type": "number"
          },
          "verified": {
            "type": "boolean"
          },
          "moveEmails": {
            "type": "boolean"
          },
          "saveEmail": {
            "type": "boolean"
          },
          "attachOnly": {
            "type": "boolean"
          },
          "formats": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "filters": {
            "$ref": "#/components/schemas/EmailFilters"
          },
          "images": {
            "$ref": "#/components/schemas/ImageConfig"
          },
          "lastChecked": {
            "type": "string",
            "format": "date-time"
          },
          "lastSync": {
            "type": "string",
            "format": "date-time"
          },
          "error": {
            "type": "string"
          },
          "errorTime": {
            "type": "string",
            "format": "date-time"
          },
          "authError": {
            "type": "string",
            "format": "date-time"
          },
          "nextRetry": {
            "type": "string",
            "format": "date-time"
          },
          "bulk": {
            "type": "boolean"
          }
        }
      },
      "EmailFilters": {
        "type": "object",
        "properties": {
          "from": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subject": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ImageConfig": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "minWidth": {
            "type": "number"
          },
          "minHeight": {
            "type": "number"
          }
        }
      },
      "FaxConfig": {
        "type": "object",
        "properties": {
          "enableInbound": {
            "type": "boolean"
          },
          "enableOutbound": {
            "type": "boolean"
          },
          "numbers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "nReceived": {
            "type": "number"
          },
          "nSent": {
            "type": "number"
          },
          "service": {
            "$ref": "#/components/schemas/FaxService"
          }
        }
      },
      "FaxService": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string"
          },
          "apiKey": {
            "type": "string"
          }
        }
      },
      "SyncConfig": {
        "type": "object",
        "description": "Synchronization configuration for various cloud storage providers",
        "properties": {
          "pensionpro": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "box": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "dropbox": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "googledrive": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "onedrive": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "sharepoint": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "smartvault": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "egnyte": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "sharefile": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "desktop": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "TrustAccounting": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "running": {
            "type": "boolean"
          },
          "lastRun": {
            "type": "string",
            "format": "date-time"
          },
          "txDetail": {
            "type": "string"
          },
          "dashboard": {
            "type": "boolean"
          }
        }
      },
      "Savings": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "stack": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "step": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "secondsSavedPerUnit": {
            "type": "number"
          }
        }
      },
      "QuickAccess": {
        "type": "object",
        "properties": {
          "unclassified": {
            "$ref": "#/components/schemas/UnclassifiedAccess"
          }
        }
      },
      "UnclassifiedAccess": {
        "type": "object",
        "properties": {
          "restrict": {
            "type": "boolean"
          },
          "access": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ObjectId"
            }
          }
        }
      },
      "Security": {
        "type": "object",
        "properties": {
          "twoFactorAuth": {
            "type": "string",
            "enum": [
              "",
              "app",
              "email"
            ]
          },
          "whitelist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sso": {
            "$ref": "#/components/schemas/SSOConfig"
          }
        }
      },
      "SSOConfig": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "azure": {
            "$ref": "#/components/schemas/AzureSSO"
          }
        }
      },
      "AzureSSO": {
        "type": "object",
        "properties": {
          "samlIssuer": {
            "type": "string"
          },
          "samlCert": {
            "type": "string"
          }
        }
      },
      "Integrations": {
        "type": "object",
        "properties": {
          "zapier": {
            "$ref": "#/components/schemas/ZapierConfig"
          }
        }
      },
      "ZapierConfig": {
        "type": "object",
        "properties": {
          "document_processed": {
            "$ref": "#/components/schemas/ZapierHook"
          }
        }
      },
      "ZapierHook": {
        "type": "object",
        "properties": {
          "hook": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "_id": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "team": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "stack": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "name": {
            "type": "string"
          },
          "originalName": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "download": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "sourceUrl": {
            "type": "string"
          },
          "provider": {
            "type": "object"
          },
          "importKey": {
            "type": "string"
          },
          "pages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rotations": {
            "type": "object"
          },
          "aspects": {
            "type": "object"
          },
          "job": {
            "$ref": "#/components/schemas/DocumentJob"
          },
          "urgent": {
            "type": "boolean"
          },
          "deadline": {
            "type": "string",
            "format": "date-time"
          },
          "flagged": {
            "type": "boolean"
          },
          "pinned": {
            "type": "boolean"
          },
          "flags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentFlag"
            }
          },
          "reviewed": {
            "type": "boolean"
          },
          "archived": {
            "type": "boolean"
          },
          "assignee": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "sharing": {
            "$ref": "#/components/schemas/DocumentSharing"
          },
          "checksum": {
            "type": "string"
          },
          "metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Metadata"
            }
          },
          "fillable": {
            "$ref": "#/components/schemas/Fillable"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "bounds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Bound"
            }
          },
          "tables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Table"
            }
          },
          "split": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Split"
            }
          },
          "notes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentNote"
            }
          },
          "canvas": {
            "type": "object"
          },
          "bulk": {
            "type": "boolean"
          },
          "original": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "splitFrom": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          },
          "time": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeEvent"
            }
          },
          "viewed": {
            "type": "object"
          },
          "sync": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SyncInfo"
            }
          },
          "receivedOn": {
            "type": "string",
            "format": "date-time"
          },
          "lastModified": {
            "type": "string",
            "format": "date-time"
          },
          "nextStack": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "sender": {
            "type": "string"
          }
        }
      },
      "DocumentJob": {
        "type": "object",
        "properties": {
          "upload": {
            "type": "string"
          },
          "working": {
            "type": "boolean"
          },
          "worker": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "string"
          },
          "read": {
            "$ref": "#/components/schemas/ReadInfo"
          },
          "rc": {
            "$ref": "#/components/schemas/RCInfo"
          }
        }
      },
      "ReadInfo": {
        "type": "object",
        "properties": {
          "operationUrls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fetchTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RCInfo": {
        "type": "object",
        "properties": {
          "preproc": {
            "type": "string"
          },
          "sort": {
            "type": "string"
          },
          "postproc": {
            "type": "string"
          }
        }
      },
      "DocumentFlag": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "level": {
            "type": "string",
            "enum": [
              "info",
              "warn",
              "error"
            ]
          },
          "pages": {
            "type": "array",
            "items": {
              "type": "number"
            }
          }
        }
      },
      "DocumentSharing": {
        "type": "object",
        "properties": {
          "public": {
            "type": "boolean"
          },
          "protected": {
            "$ref": "#/components/schemas/ProtectedSharing"
          },
          "access": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessRecord"
            }
          }
        }
      },
      "ProtectedSharing": {
        "type": "object",
        "properties": {
          "emails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "teams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ObjectId"
            }
          },
          "password": {
            "type": "string"
          }
        }
      },
      "AccessRecord": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "usage": {
            "type": "number"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "expression": {
            "type": "string"
          },
          "class": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "pages": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "ref": {
            "type": "string"
          },
          "confidence": {
            "type": "number"
          }
        }
      },
      "Fillable": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FillableField"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recipient"
            }
          }
        }
      },
      "FillableField": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          },
          "hint": {
            "type": "string"
          },
          "dataType": {
            "type": "string",
            "enum": [
              "textbox",
              "textarea",
              "date",
              "today",
              "checkbox",
              "signature"
            ]
          },
          "fontSize": {
            "type": "number"
          },
          "page": {
            "type": "number"
          },
          "x": {
            "type": "number"
          },
          "y": {
            "type": "number"
          },
          "width": {
            "type": "number"
          },
          "height": {
            "type": "number"
          }
        }
      },
      "Recipient": {
        "type": "object",
        "properties": {
          "document": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "sentOn": {
            "type": "string",
            "format": "date-time"
          },
          "viewedOn": {
            "type": "string",
            "format": "date-time"
          },
          "filledOn": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Bound": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "data": {
            "type": "object"
          },
          "page": {
            "type": "number"
          },
          "x": {
            "type": "number"
          },
          "y": {
            "type": "number"
          },
          "width": {
            "type": "number"
          },
          "height": {
            "type": "number"
          }
        }
      },
      "Table": {
        "type": "object",
        "properties": {
          "raw": {
            "type": "boolean"
          },
          "title": {
            "type": "string"
          },
          "lastModified": {
            "type": "string",
            "format": "date-time"
          },
          "createdON": {
            "type": "string",
            "format": "date-time"
          },
          "page": {
            "type": "number"
          },
          "x": {
            "type": "number"
          },
          "y": {
            "type": "number"
          },
          "width": {
            "type": "number"
          },
          "height": {
            "type": "number"
          },
          "headers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableTag"
            }
          },
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableRow"
            }
          }
        }
      },
      "TableTag": {
        "type": "object",
        "properties": {
          "row": {
            "type": "number"
          },
          "col": {
            "type": "number"
          },
          "key": {
            "type": "string"
          }
        }
      },
      "TableRow": {
        "type": "object",
        "properties": {
          "x": {
            "type": "number"
          },
          "y": {
            "type": "number"
          },
          "width": {
            "type": "number"
          },
          "height": {
            "type": "number"
          },
          "page": {
            "type": "number"
          },
          "cells": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableCell"
            }
          },
          "class": {
            "type": "string"
          },
          "classConfidence": {
            "type": "number"
          }
        }
      },
      "TableCell": {
        "type": "object",
        "properties": {
          "x": {
            "type": "number"
          },
          "y": {
            "type": "number"
          },
          "width": {
            "type": "number"
          },
          "height": {
            "type": "number"
          },
          "text": {
            "type": "string"
          },
          "confidence": {
            "type": "number"
          }
        }
      },
      "Split": {
        "type": "object",
        "properties": {
          "pages": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "toNext": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "DocumentNote": {
        "type": "object",
        "properties": {
          "page": {
            "type": "number"
          },
          "thread": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NoteThread"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ObjectId"
            }
          },
          "x": {
            "type": "number"
          },
          "y": {
            "type": "number"
          }
        }
      },
      "NoteThread": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "filename": {
            "type": "string"
          },
          "document": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "filepath": {
            "type": "string"
          }
        }
      },
      "TimeEvent": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string"
          },
          "stamp": {
            "type": "string",
            "format": "date-time"
          },
          "user": {
            "$ref": "#/components/schemas/ObjectId"
          }
        }
      },
      "SyncInfo": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "key": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "override": {
            "type": "boolean"
          },
          "error": {
            "type": "string"
          },
          "step": {
            "type": "string"
          },
          "job": {
            "type": "string"
          },
          "isSynced": {
            "type": "boolean"
          },
          "queuedOn": {
            "type": "string",
            "format": "date-time"
          },
          "syncedOn": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Stack": {
        "type": "object",
        "properties": {
          "_id": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "path": {
            "type": "string"
          },
          "template": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "team": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "baseName": {
            "type": "string"
          },
          "base": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "restrict": {
            "type": "boolean"
          },
          "access": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ObjectId"
            }
          },
          "pinned": {
            "type": "boolean"
          },
          "hideHint": {
            "type": "boolean"
          },
          "enabled": {
            "type": "boolean"
          },
          "lastModified": {
            "type": "string",
            "format": "date-time"
          },
          "numDocuments": {
            "type": "number"
          },
          "numUnread": {
            "type": "number"
          },
          "keys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dataTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataType"
            }
          },
          "rules": {
            "$ref": "#/components/schemas/StackRules"
          },
          "trainer": {
            "$ref": "#/components/schemas/Trainer"
          },
          "numMovedFiles": {
            "type": "number"
          },
          "pipeline": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PipelineModule"
            }
          },
          "locked": {
            "type": "boolean"
          },
          "forms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ObjectId"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DataType": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "dataType": {
            "type": "string",
            "enum": [
              "text",
              "number",
              "date"
            ]
          }
        }
      },
      "StackRules": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "match": {
            "$ref": "#/components/schemas/MatchRules"
          }
        }
      },
      "MatchRules": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "all",
              "any"
            ]
          },
          "source": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "name": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "phrases": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Trainer": {
        "type": "object",
        "properties": {
          "manualTrigger": {
            "type": "boolean"
          },
          "isTraining": {
            "type": "boolean"
          },
          "lastTrained": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PipelineModule": {
        "type": "object",
        "properties": {
          "module": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "config": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConfigItem"
            }
          },
          "locked": {
            "type": "boolean"
          },
          "trainer": {
            "$ref": "#/components/schemas/ModuleTrainer"
          },
          "usage": {
            "type": "number"
          },
          "limit": {
            "type": "number"
          },
          "history": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HistoryItem"
            }
          }
        }
      },
      "ConfigItem": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "object"
          }
        }
      },
      "ModuleTrainer": {
        "type": "object",
        "properties": {
          "usage": {
            "type": "number"
          },
          "lastTrained": {
            "type": "string",
            "format": "date-time"
          },
          "training": {
            "type": "boolean"
          },
          "config": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConfigItem"
            }
          },
          "data": {
            "type": "object"
          }
        }
      },
      "HistoryItem": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedBy": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Module": {
        "type": "object",
        "properties": {
          "_id": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "name": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "creator": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "creatorName": {
            "type": "string"
          },
          "rate": {
            "type": "number"
          },
          "usage": {
            "type": "number"
          },
          "trainer": {
            "type": "boolean"
          },
          "trainerConfig": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModuleConfig"
            }
          },
          "config": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModuleConfig"
            }
          },
          "input": {
            "type": "string"
          },
          "taskUrl": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "trainer_url": {
            "type": "string"
          },
          "public": {
            "type": "boolean"
          },
          "topic": {
            "type": "string"
          },
          "accountThreshold": {
            "type": "number"
          },
          "cloud_task_queue_name": {
            "type": "string"
          },
          "cloud_run_service_url": {
            "type": "string"
          }
        }
      },
      "ModuleConfig": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          },
          "hint": {
            "type": "string"
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dataType": {
            "type": "string",
            "enum": [
              "string",
              "code",
              "number",
              "map",
              "list",
              "auto"
            ]
          },
          "language": {
            "type": "string"
          },
          "default": {
            "type": "object"
          },
          "height": {
            "type": "string"
          },
          "source": {
            "type": "string"
          }
        }
      },
      "Form": {
        "type": "object",
        "properties": {
          "_id": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "team": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "createdOn": {
            "type": "string",
            "format": "date-time"
          },
          "lastModified": {
            "type": "string",
            "format": "date-time"
          },
          "sections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormSection"
            }
          }
        }
      },
      "FormSection": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormField"
            }
          }
        }
      },
      "FormField": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          },
          "hint": {
            "type": "string"
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dataType": {
            "type": "string",
            "enum": [
              "textbox",
              "textbox-half",
              "textarea",
              "date",
              "dropdown",
              "checkbox"
            ]
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "_id": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "team": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "user": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "success": {
            "type": "boolean"
          },
          "working": {
            "type": "boolean"
          },
          "error": {
            "type": "string"
          },
          "worker": {
            "type": "string"
          },
          "queueTime": {
            "type": "string",
            "format": "date-time"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "jobType": {
            "type": "string"
          },
          "jobId": {
            "type": "string"
          },
          "jobData": {
            "type": "object"
          }
        }
      },
      "Script": {
        "type": "object",
        "properties": {
          "_id": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "team": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "name": {
            "type": "string"
          },
          "requirements": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "source": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "schedule": {
            "$ref": "#/components/schemas/ScriptSchedule"
          },
          "running": {
            "type": "boolean"
          },
          "failed": {
            "type": "boolean"
          },
          "error": {
            "type": "string"
          },
          "traceback": {
            "type": "string"
          },
          "lastRun": {
            "type": "string",
            "format": "date-time"
          },
          "createdOn": {
            "type": "string",
            "format": "date-time"
          },
          "lastModified": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ScriptSchedule": {
        "type": "object",
        "properties": {
          "weekly": {
            "type": "boolean"
          },
          "dates": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "days": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Mon",
                "Tue",
                "Wed",
                "Thu",
                "Fri",
                "Sat",
                "Sun"
              ]
            }
          },
          "hours": {
            "type": "array",
            "items": {
              "type": "number"
            }
          }
        }
      },
      "TpaPlan": {
        "type": "object",
        "properties": {
          "_id": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "team": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "pensionProId": {
            "type": "number"
          },
          "internalPlanId": {
            "type": "string"
          },
          "planName": {
            "type": "string"
          },
          "planType": {
            "type": "string"
          },
          "endMm": {
            "type": "number"
          },
          "endDd": {
            "type": "number"
          },
          "active": {
            "type": "boolean"
          },
          "directory": {
            "type": "string"
          },
          "ppLock": {
            "type": "boolean"
          },
          "search": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "notes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Note"
            }
          },
          "lastModified": {
            "type": "string",
            "format": "date-time"
          },
          "assignees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ObjectId"
            }
          },
          "status": {
            "type": "object"
          }
        }
      },
      "TpaAccount": {
        "type": "object",
        "properties": {
          "_id": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "team": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "planId": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "accountType": {
            "type": "string"
          },
          "pensionProId": {
            "type": "number"
          },
          "internalPlanId": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "payee": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "ppLock": {
            "type": "boolean"
          },
          "notes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Note"
            }
          },
          "lastModified": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "object"
          },
          "viewed": {
            "type": "object"
          }
        }
      },
      "TpaStatement": {
        "type": "object",
        "properties": {
          "_id": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "team": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "plan": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "account": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "planId": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          },
          "document": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "pageCount": {
            "type": "number"
          },
          "duplicates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ObjectId"
            }
          },
          "creator": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "planYear": {
            "type": "number"
          },
          "periodStart": {
            "type": "string",
            "format": "date-time"
          },
          "periodEnd": {
            "type": "string",
            "format": "date-time"
          },
          "months": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "beginningBalance": {
            "type": "number"
          },
          "endingBalance": {
            "type": "number"
          },
          "reconciles": {
            "type": "boolean"
          },
          "tx": {
            "$ref": "#/components/schemas/TransactionSummary"
          },
          "diff": {
            "$ref": "#/components/schemas/TransactionDiff"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "confidence": {
            "type": "object"
          },
          "ref": {
            "type": "object"
          },
          "participant": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "moneyType": {
            "type": "string"
          },
          "confirmed": {
            "type": "boolean"
          },
          "clientConfirmed": {
            "type": "boolean"
          },
          "accepted": {
            "type": "object"
          },
          "history": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HistoryChange"
            }
          },
          "createdOn": {
            "type": "string",
            "format": "date-time"
          },
          "lastModified": {
            "type": "string",
            "format": "date-time"
          },
          "classifying": {
            "type": "boolean"
          }
        }
      },
      "TpaTransaction": {
        "type": "object",
        "properties": {
          "_id": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "team": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "plan": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "account": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "planId": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          },
          "statement": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "row": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "creator": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "planYear": {
            "type": "number"
          },
          "page": {
            "type": "number"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "txType": {
            "type": "string"
          },
          "txSubType": {
            "type": "string"
          },
          "confidence": {
            "type": "number"
          },
          "history": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HistoryChange"
            }
          }
        }
      },
      "TransactionSummary": {
        "type": "object",
        "properties": {
          "deposits": {
            "type": "number"
          },
          "withdrawals": {
            "type": "number"
          },
          "income": {
            "type": "number"
          },
          "fees": {
            "type": "number"
          },
          "transfers": {
            "type": "number"
          },
          "purchases": {
            "type": "number"
          },
          "sales": {
            "type": "number"
          },
          "reinvestments": {
            "type": "number"
          },
          "other": {
            "type": "number"
          },
          "accrued": {
            "type": "number"
          },
          "gain_loss": {
            "type": "number"
          },
          "rollovers": {
            "type": "number"
          },
          "forfeiture": {
            "type": "number"
          },
          "loanPayments": {
            "type": "number"
          },
          "newLoans": {
            "type": "number"
          },
          "loanInterest": {
            "type": "number"
          }
        }
      },
      "TransactionDiff": {
        "type": "object",
        "properties": {
          "deposits": {
            "type": "number"
          },
          "withdrawals": {
            "type": "number"
          },
          "income": {
            "type": "number"
          },
          "fees": {
            "type": "number"
          },
          "loanPayments": {
            "type": "number"
          },
          "transfers": {
            "type": "number"
          },
          "rollovers": {
            "type": "number"
          },
          "reinvestments": {
            "type": "number"
          },
          "other": {
            "type": "number"
          },
          "gain_loss": {
            "type": "number"
          },
          "accrued": {
            "type": "number"
          },
          "purchases": {
            "type": "number"
          },
          "sales": {
            "type": "number"
          }
        }
      },
      "Note": {
        "type": "object",
        "properties": {
          "author": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "content": {
            "type": "string"
          }
        }
      },
      "HistoryChange": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "changes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldChange"
            }
          }
        }
      },
      "FieldChange": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          }
        }
      },
      "TpaInvestmentProvider": {
        "type": "object",
        "properties": {
          "_id": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "team": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "name": {
            "type": "string"
          },
          "providerId": {
            "type": "string"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "total": {
            "type": "number"
          },
          "hits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchHit"
            }
          }
        }
      },
      "SearchHit": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "_score": {
            "type": "number"
          },
          "_source": {
            "$ref": "#/components/schemas/Document"
          },
          "highlight": {
            "type": "object"
          }
        }
      },
      "PaginationParams": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "number",
            "minimum": 0,
            "default": 0
          },
          "limit": {
            "type": "number",
            "minimum": 1,
            "maximum": 100,
            "default": 10
          }
        }
      }
    },
    "parameters": {
      "stackId": {
        "name": "stackId",
        "in": "query",
        "description": "Stack ID",
        "required": false,
        "schema": {
          "$ref": "#/components/schemas/ObjectId"
        }
      },
      "docId": {
        "name": "docId",
        "in": "query",
        "description": "Document ID",
        "required": false,
        "schema": {
          "$ref": "#/components/schemas/ObjectId"
        }
      },
      "teamId": {
        "name": "teamId",
        "in": "query",
        "description": "Team ID",
        "required": false,
        "schema": {
          "$ref": "#/components/schemas/ObjectId"
        }
      },
      "userId": {
        "name": "userId",
        "in": "query",
        "description": "User ID",
        "required": false,
        "schema": {
          "$ref": "#/components/schemas/ObjectId"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Success": {
        "description": "Success response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SuccessResponse"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/stack/create": {
      "post": {
        "summary": "Create Stack",
        "description": "Create a new document stack",
        "operationId": "stackCreate",
        "tags": [
          "Stack"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "stackPath"
                ],
                "properties": {
                  "stackPath": {
                    "type": "string",
                    "description": "Path for the stack (directory components separated with /)"
                  },
                  "baseStack": {
                    "$ref": "#/components/schemas/ObjectId",
                    "description": "Base stack ID to inherit from"
                  },
                  "inheritSharingFrom": {
                    "type": "string",
                    "description": "Stack path to inherit sharing settings from"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stack created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "stack": {
                      "$ref": "#/components/schemas/Stack"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/stack/get": {
      "get": {
        "summary": "Get Stack",
        "description": "Get stack information by ID or tag",
        "operationId": "stackGet",
        "tags": [
          "Stack"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "stackId",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ObjectId"
            },
            "description": "Stack ID"
          },
          {
            "name": "stackTag",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Stack tag"
          }
        ],
        "responses": {
          "200": {
            "description": "Stack information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "stack": {
                      "$ref": "#/components/schemas/Stack"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/stack/list": {
      "get": {
        "summary": "List Documents in Stack",
        "description": "Get a list of documents in a stack with pagination and filtering",
        "operationId": "stackList",
        "tags": [
          "Stack"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/stackId"
          },
          {
            "name": "resultOffset",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "resultLimit",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dir",
            "in": "query",
            "schema": {
              "type": "number",
              "enum": [
                1,
                -1
              ]
            },
            "description": "Sort direction: 1 for ascending, -1 for descending"
          },
          {
            "name": "recursive",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include sub-stacks"
          },
          {
            "name": "ignoreDuplicates",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "minimal",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Return minimal document data"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to return"
          }
        ],
        "responses": {
          "200": {
            "description": "List of documents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "docs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Document"
                      }
                    },
                    "total": {
                      "type": "number"
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Available metadata keys"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stack/update": {
      "post": {
        "summary": "Update Stack",
        "description": "Update stack properties",
        "operationId": "stackUpdate",
        "tags": [
          "Stack"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "stackId",
                  "stackDiff"
                ],
                "properties": {
                  "stackId": {
                    "$ref": "#/components/schemas/ObjectId"
                  },
                  "stackDiff": {
                    "type": "object",
                    "description": "Fields to update",
                    "properties": {
                      "path": {
                        "type": "string"
                      },
                      "restrict": {
                        "type": "boolean"
                      },
                      "access": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/ObjectId"
                        }
                      },
                      "pinned": {
                        "type": "boolean"
                      },
                      "hideHint": {
                        "type": "boolean"
                      },
                      "enabled": {
                        "type": "boolean"
                      },
                      "keys": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "dataTypes": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/DataType"
                        }
                      },
                      "rules": {
                        "$ref": "#/components/schemas/StackRules"
                      },
                      "trainer": {
                        "$ref": "#/components/schemas/Trainer"
                      },
                      "forms": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/ObjectId"
                        }
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stack updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/stack/remove": {
      "post": {
        "summary": "Remove Stack",
        "description": "Delete a stack",
        "operationId": "stackRemove",
        "tags": [
          "Stack"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "stackId"
                ],
                "properties": {
                  "stackId": {
                    "$ref": "#/components/schemas/ObjectId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stack removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/stack/all": {
      "get": {
        "summary": "List All Stacks",
        "description": "Get a list of all stacks for the current team",
        "operationId": "stackAll",
        "tags": [
          "Stack"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of stacks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "stacks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Stack"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/document/get": {
      "get": {
        "summary": "Get Document",
        "description": "Get document information by ID",
        "operationId": "documentGet",
        "tags": [
          "Document"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/docId"
          },
          {
            "name": "minimal",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Return minimal document data"
          },
          {
            "name": "presigned",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Return presigned URLs for pages and download"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to return"
          },
          {
            "name": "disableReview",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "statement",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include TPA statement information"
          }
        ],
        "responses": {
          "200": {
            "description": "Document information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "doc": {
                      "$ref": "#/components/schemas/Document"
                    },
                    "statement": {
                      "$ref": "#/components/schemas/TpaStatement"
                    },
                    "pages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Presigned URLs for pages (if presigned=true)"
                    },
                    "downloadUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "Presigned download URL (if presigned=true)"
                    },
                    "wordsUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "Presigned words index URL (if presigned=true)"
                    },
                    "words": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Word index data"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/document/upload": {
      "post": {
        "summary": "Upload Document",
        "description": "Upload one or more documents (up to 10 files)",
        "operationId": "documentUpload",
        "tags": [
          "Document"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          },
          {
            "moduleAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "maxItems": 10,
                    "description": "Files to upload"
                  },
                  "stackId": {
                    "$ref": "#/components/schemas/ObjectId"
                  },
                  "source": {
                    "type": "string",
                    "default": "Uploaded"
                  },
                  "metadata": {
                    "type": "string",
                    "description": "JSON string of metadata array"
                  },
                  "importKey": {
                    "type": "string"
                  },
                  "skipProcessing": {
                    "type": "boolean",
                    "description": "Skip document processing"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Documents uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "uploads": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Document"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/document/update": {
      "post": {
        "summary": "Update Document",
        "description": "Update document properties and metadata",
        "operationId": "documentUpdate",
        "tags": [
          "Document"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          },
          {
            "moduleAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "docDiff"
                ],
                "properties": {
                  "docId": {
                    "$ref": "#/components/schemas/ObjectId",
                    "description": "Single document ID"
                  },
                  "docIds": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ObjectId"
                    },
                    "description": "Multiple document IDs for bulk update"
                  },
                  "docDiff": {
                    "type": "object",
                    "description": "Fields to update",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "stack": {
                        "$ref": "#/components/schemas/ObjectId"
                      },
                      "metadata": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Metadata"
                        }
                      },
                      "tables": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Table"
                        }
                      },
                      "reviewed": {
                        "type": "boolean"
                      },
                      "archived": {
                        "type": "boolean"
                      },
                      "urgent": {
                        "type": "boolean"
                      },
                      "flagged": {
                        "type": "boolean"
                      },
                      "pinned": {
                        "type": "boolean"
                      },
                      "assignee": {
                        "$ref": "#/components/schemas/ObjectId"
                      },
                      "deadline": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "sharing": {
                        "$ref": "#/components/schemas/DocumentSharing"
                      },
                      "notes": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/DocumentNote"
                        }
                      },
                      "sync": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/SyncInfo"
                        }
                      },
                      "indexStatement": {
                        "type": "boolean",
                        "description": "Create TPA statement from metadata"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/document/search": {
      "get": {
        "summary": "Search Documents",
        "description": "Search documents using Elasticsearch",
        "operationId": "documentSearch",
        "tags": [
          "Document"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "searchQuery",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3
            },
            "description": "Search query (minimum 3 characters)"
          },
          {
            "name": "searchOffset",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "searchLimit",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "stackId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by stack ID or special values: urgent, mine, unclassified, unread, archives, shared, flagged, recent"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by document format"
          },
          {
            "name": "field",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Metadata field to filter by"
          },
          {
            "name": "value",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Metadata value to filter by (use '___unset___' to find documents without this field)"
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "recent"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/document/remove": {
      "post": {
        "summary": "Remove Document",
        "description": "Delete a document",
        "operationId": "documentRemove",
        "tags": [
          "Document"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "docId"
                ],
                "properties": {
                  "docId": {
                    "$ref": "#/components/schemas/ObjectId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/document/download": {
      "get": {
        "summary": "Download Document",
        "description": "Download the original document file",
        "operationId": "documentDownload",
        "tags": [
          "Document"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/docId"
          }
        ],
        "responses": {
          "200": {
            "description": "Document file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/document/create": {
      "post": {
        "summary": "Create Document",
        "description": "Create a document using presigned URL",
        "operationId": "documentCreate",
        "tags": [
          "Document"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "stackId": {
                    "$ref": "#/components/schemas/ObjectId"
                  },
                  "source": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  },
                  "importKey": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "doc": {
                      "$ref": "#/components/schemas/Document"
                    },
                    "uploadUrl": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/document/recent": {
      "get": {
        "summary": "Get Recent Documents",
        "description": "Get recently viewed documents",
        "operationId": "documentRecent",
        "tags": [
          "Document"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Recent documents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "docs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Document"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/document/jobs": {
      "get": {
        "summary": "Get Document Jobs",
        "description": "Get processing jobs for a document",
        "operationId": "documentJobs",
        "tags": [
          "Document"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/docId"
          }
        ],
        "responses": {
          "200": {
            "description": "Document jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "jobs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Job"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/document/duplicates": {
      "get": {
        "summary": "Find Duplicate Documents",
        "description": "Find duplicate documents by checksum",
        "operationId": "documentDuplicates",
        "tags": [
          "Document"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/docId"
          }
        ],
        "responses": {
          "200": {
            "description": "Duplicate documents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "duplicates": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Document"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/document/move": {
      "post": {
        "summary": "Move Document",
        "description": "Move document to another stack",
        "operationId": "documentMove",
        "tags": [
          "Document"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "docId",
                  "stackId"
                ],
                "properties": {
                  "docId": {
                    "$ref": "#/components/schemas/ObjectId"
                  },
                  "stackId": {
                    "$ref": "#/components/schemas/ObjectId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          }
        }
      }
    },
    "/document/copy": {
      "post": {
        "summary": "Copy Document",
        "description": "Copy document to another stack",
        "operationId": "documentCopy",
        "tags": [
          "Document"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "docId",
                  "stackId"
                ],
                "properties": {
                  "docId": {
                    "$ref": "#/components/schemas/ObjectId"
                  },
                  "stackId": {
                    "$ref": "#/components/schemas/ObjectId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document copied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "doc": {
                      "$ref": "#/components/schemas/Document"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/document/archive": {
      "post": {
        "summary": "Archive Document",
        "description": "Archive a document",
        "operationId": "documentArchive",
        "tags": [
          "Document"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "docId"
                ],
                "properties": {
                  "docId": {
                    "$ref": "#/components/schemas/ObjectId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          }
        }
      }
    },
    "/document/restore": {
      "post": {
        "summary": "Restore Document",
        "description": "Restore an archived document",
        "operationId": "documentRestore",
        "tags": [
          "Document"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "docId"
                ],
                "properties": {
                  "docId": {
                    "$ref": "#/components/schemas/ObjectId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          }
        }
      }
    },
    "/document/searchArchive": {
      "get": {
        "summary": "Search Archive",
        "description": "Search archived documents",
        "operationId": "documentSearchArchive",
        "tags": [
          "Document"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "searchQuery",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3
            }
          },
          {
            "name": "searchOffset",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "searchLimit",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/tpa/plan/create": {
      "post": {
        "summary": "Create TPA Plan",
        "description": "Create a new TPA plan",
        "operationId": "tpaPlanCreate",
        "tags": [
          "TPA"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "planName"
                ],
                "properties": {
                  "planName": {
                    "type": "string"
                  },
                  "planType": {
                    "type": "string"
                  },
                  "internalPlanId": {
                    "type": "string"
                  },
                  "pensionProId": {
                    "type": "number"
                  },
                  "endMm": {
                    "type": "number"
                  },
                  "endDd": {
                    "type": "number"
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "directory": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "plan": {
                      "$ref": "#/components/schemas/TpaPlan"
                    }
                  }
[...]
